/*!
 *  This file is part of the DITA Bootstrap plug-in for DITA Open Toolkit.
 *  See the accompanying LICENSE file for applicable licenses.
 *  Vendored from plugins/dita-bootstrap/css/bootswatch-static.css: static high-contrast
 *  color overrides for dark-mode-only Bootswatch themes (cyborg, darkly, slate, solar, superhero, vapor).
 */

[data-bs-theme="dark"] {
  --dita-prussian-blue: #6a91cf;
  --dita-violet: #cc99cd;
  --dita-maroon: #ff7676;
}
